extends base
block content
  .container
    .page-header
      h1 Jade 生成 HTML 模板测试页
      p.lead 该模板用于快速新建项目
    .row
      .col-xs-5
        p 第一段
      .col-xs-7
        p 第二段
    .row
      .col-xs-12
        hr
    .row
      ul
        li 1
        li 2
        li 3
    .row
      .col-xs-5
        button.btn.btn-default Click me!